SUBMIT_SERVICE_DB_HOST=mysql
SUBMIT_SERVICE_DB_USER=root
SUBMIT_SERVICE_DB_PASSWORD=root
SUBMIT_SERVICE_DB_NAME=jokes_db
SUBMIT_SERVICE_PORT=3200

TYPES_CACHE_FILE=/app/cache/types-cache.json
INITIAL_TYPES_FILE=/app/defaults/types-cache.json

RABBITMQ_URL=amqp://rabbitmq:5672
SUBMIT_QUEUE=submit
MODERATED_QUEUE=moderated
TYPE_UPDATE_EXCHANGE=type_update
SUB_TYPE_UPDATE_QUEUE=sub_type_update
MOD_TYPE_UPDATE_QUEUE=mod_type_update