ETL_SERVICE_DB_ENGINE=MYSQL

ETL_SERVICE_PORT=3001

ETL_SERVICE_DB_HOST=mysql
ETL_SERVICE_DB_USER=root
ETL_SERVICE_DB_PASSWORD=root
ETL_SERVICE_DB_NAME=jokes_db

ETL_SERVICE_MONGO_URL=mongodb://mongo:27017
ETL_SERVICE_MONGO_DB_NAME=jokes_db

ETL_SERVICE_RABBITMQ_URL=amqp://rabbitmq:5672
ETL_SERVICE_MODERATED_QUEUE=moderated
ETL_SERVICE_TYPE_UPDATE_EXCHANGE=type_update