MODERATE_SERVICE_PORT=3100

TYPES_CACHE_FILE=/app/cache/types-cache.json
INITIAL_TYPES_FILE=/app/defaults/types-cache.json

RABBITMQ_URL=amqp://rabbitmq:5672
SUBMIT_QUEUE=submit
MODERATED_QUEUE=moderated

TYPE_UPDATE_EXCHANGE=type_update
MOD_TYPE_UPDATE_QUEUE=mod_type_update