JOKE_SERVICE_DB_ENGINE= MYSQL
JOKE_SERVICE_DB_HOST=localhost
JOKE_SERVICE_DB_USER=root
JOKE_SERVICE_DB_PASSWORD=
JOKE_SERVICE_DB_NAME=jokes_db
JOKE_SERVICE_PORT=3000
JOKE_SERVICE_MONGO_URL= mongodb://mongo:27017
JOKE_SERVICE_MONGO_DB_NAME= jokes_db